
html {
    font-size: 18px;
}

body {
    // background: $background-color url(../img/background.png) no-repeat center bottom fixed;
    // background-size: contain;
    background-color: $background-color;
    color: $grey;
    font-family: Lato, 'sans-serif';
    font-size: $font-size-4;
    min-height: 100vh;
    margin: 0;
    padding: $gutter*2 $gutter;


    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#bg {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    z-index: -1;
    transform: scale(1.0); 
    &:after {
        content: "";
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-image: url(../img/background.png);
        background-position: center;
        background-size: contain;
        background-repeat: no-repeat;
    }
}

